@font-face {
  font-family: RobotoLight;
  src: url('../fontes/Roboto/Roboto-Light.ttf');
}

/* font-family: RobotoLight , Arial , Helvetica , sans-serif; */


@font-face {
  font-family: RobotoThin;
  src: url('../fontes/Roboto/Roboto-Thin.ttf');
} 

/* font-family: RobotoThin , Arial , Helvetica , sans-serif; */

@font-face {
  font-family: RobotoRegular;
  src: url('../fontes/Roboto/Roboto-Regular.ttf');
}

/* font-family: RobotoRegular , Arial , Helvetica , sans-serif; */

.skillstitle {
  margin-top: 90px;
  font-family: RobotoRegular , Arial , Helvetica , sans-serif;
  letter-spacing: 0.05em;
}

.html, .css, .js, .jest, .react, .redux {
  align-items: center;
  border-radius: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: RobotoLight , Arial , Helvetica , sans-serif;
  letter-spacing: 0.05em;
  justify-content: space-around;
  width: 120px;
  height: 50px;
  margin: 40px;
  background-color: #001933;
  -webkit-box-shadow: 6px 7px 24px 3px rgba(2,9,15,0.36);
  -moz-box-shadow: 6px 7px 24px 3px rgba(2,9,15,0.36);
  box-shadow: 6px 7px 24px 3px rgba(2,9,15,0.36);
}

.skills {
  margin-top: 5px;
}
